$grid-width: 76rem;
$gutter-vertical: 3rem;
$gutter-vertical-smaller: 2rem;
$gutter-horizontal: 1.5rem;
$padding-scale: 1em;
$margin-scale: 1em;

// Typography Colors
$heading-color: #003366;
$paragraph-color: #1f1209;
$small-color: #834c24;
$span-color: #fff8dc;
$link-color: #834c24;
$italize-color: #003366;
$bold-color: #1f1209;


// margin padding
$margins: 12;
$margin-scale: 0.5rem;
$paddings: 12;
$padding-scale: 0.5rem;

// colors
$primary: #000;
$secondary: #4893ef;
$success: #37c54b;
$danger: #f82a42;
$warning: #f5d62a;
