$grid-width: 76rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 1.5rem;
$padding-scale: 1em;
$margin-scale: 1em;

// Typography Colors
$heading-color: #003366;
$paragraph-color: #1F1209;
$small-color: #834C24;
$span-color: #FFF8DC;
$link-color: #834C24;
$italize-color: #003366;
$bold-color: #1F1209;
