footer ul li {
  display: inline;
  float: right;
}

body {
  @include mQ(1920px) {
      margin-left: 30px;
      margin-right: 30px;
  }
}

nav li a {
	font-size: 1.25rem;
	line-height:1.25rem;
	color: #fff;
}

.left-part {
	@include phone {
      width:100%;
    }
}
